# File: requirements.txt
# Telegram Bot Core (Async version)
pyTelegramBotAPI[async]>=4.15.0
aiohttp>=3.8.0

# Loading .env files
python-dotenv>=1.0.0

# Logging configuration
PyYAML>=6.0

# Cryptography for securing user data
cryptography>=42.0.0

# Image processing
Pillow>=10.0.0

# Markdown processing and splitting for Telegram
chatgpt-md-converter>=0.3.6

git+https://github.com/kobaltgit/telegram_text_splitter.git
